<a href="https://colab.research.google.com/github/zietho/machine-learning/blob/master/Machine_Learning_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
! ls drive/My\ Drive/University/Data\ Science/Machine\ Learning

datasets

# Data Set 1: sentiment140

Abstract: This is the sentiment140 dataset. It contains 1,600,000 tweets extracted using the twitter api . The tweets have been annotated (0 = negative, 4 = positive) and they can be used to detect sentiment. <sup>1</sup>

<sup>1</sup> https://www.kaggle.com/kazanova/sentiment140

In [0]:
df_sentiment = pd.read_csv('drive/My Drive/University/Data Science/Machine Learning/datasets/sentiment/training.1600000.processed.noemoticon.csv', encoding='latin_1', header=None)

In [0]:
df_sentiment.head(2)

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...

In [0]:
def preprocess(df):

    '''
    weekday extraction 1min
    '''
    def funcapply(x):
        return x[0:3]

    df['weekday'] = df['date'].apply(lambda x: funcapply(x))

    '''
    parse time to pandas datetime takes 5 minutes
    from datetime import datetime
    d = datetime.strptime('Thu Apr 23 13:38:19 +0000 2009','%a %b %d %H:%M:%S %z %Y').strftime('%Y-%m-%d %H:%M:%S');
    '''
    df['date'] = pd.to_datetime(df['date'])
    
    return df
  
df_sentiment = preprocess(df_sentiment)

KeyError: ignored

In [0]:
df_sentiment.shape

(1599999, 6)

In [0]:
df_sentiment.head(10)

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?

In [0]:
df_sentiment.columns = ['label', 'id', 'timestamp', 'query_type', 'username', 'sentiment']

In [0]:
df_sentiment['label'].value_counts()

4    800000
0    800000
Name: label, dtype: int64

In [0]:
df_sentiment['query_type'].value_counts()

NO_QUERY    1600000
Name: query_type, dtype: int64

# Data Set 1: OPPORTUNITY Activity Recognition Dataset

Abstract: "The OPPORTUNITY Dataset for Human Activity Recognition from Wearable, Object, and Ambient Sensors is a dataset devised to benchmark human activity recognition algorithms (classification, automatic data segmentation, sensor fusion, feature extraction, etc). <sup>1</sup>

<sup>1</sup> https://archive.ics.uci.edu/ml/datasets/OPPORTUNITY+Activity+Recognition#

In [0]:
activity of daily living (ADL)

SyntaxError: ignored

#Read in activity of daily living (ADL) for all users

In [0]:
def extract_id(line):
  
  return splitted

In [0]:
# read in column names

opportunity_columns = dict()

opportunity_col_txt = open("drive/My Drive/University/Data Science/Machine Learning/datasets/opportunity/column_names.txt", "r")

for line in opportunity_col_txt:
  splitted  = line.split(' ')
  print(line)
  
  if(line.find('Columns:')):
      
  
  if splitted[0] == 'Column:':
    
    fraction_meta = line.split(';')
    fraction_value = 
    fraction_unit = 
    
    opportunity_columns[int(splitted[1])] = {
       'name' : splitted[1],
       'sensor': splitted[3]+" "+splitted[4] if len(splitted) > 3 else '',
       'value': splitted[7] if len(splitted) > 3 else '',
       'unit' : splitted[9] if len(splitted) > 3 else '',i
        
        
    }

#print(opportunity_columns)

print(opportunity_columns.get(100))
print(len(opportunity_columns))
  
  #print(x) = df_adl = pd.read_csv('drive/My Drive/University/Data Science/Machine Learning/datasets/opportunity/column_names.txt', encoding='latin_1', header=None, sep='\s')

Data columns:



Column: 1 MILLISEC

Column: 2 Accelerometer RKN^ accX; value = round(original_value), unit = milli g

Column: 3 Accelerometer RKN^ accY; value = round(original_value), unit = milli g

Column: 4 Accelerometer RKN^ accZ; value = round(original_value), unit = milli g

Column: 5 Accelerometer HIP accX; value = round(original_value), unit = milli g

Column: 6 Accelerometer HIP accY; value = round(original_value), unit = milli g

Column: 7 Accelerometer HIP accZ; value = round(original_value), unit = milli g

Column: 8 Accelerometer LUA^ accX; value = round(original_value), unit = milli g

Column: 9 Accelerometer LUA^ accY; value = round(original_value), unit = milli g

Column: 10 Accelerometer LUA^ accZ; value = round(original_value), unit = milli g

Column: 11 Accelerometer RUA_ accX; value = round(original_value), unit = milli g

Column: 12 Accelerometer RUA_ accY; value = round(original_value), unit = milli g

Column: 13 Accelerometer RUA_ accZ; value = round(original_value), unit = milli g

Column: 14 Accelerometer LH accX; value = round(original_value), unit = milli g

Column: 15 Accelerometer LH accY; value = round(original_value), unit = milli g

Column: 16 Accelerometer LH accZ; value = round(original_value), unit = milli g

Column: 17 Accelerometer BACK accX; value = round(original_value), unit = milli g

Column: 18 Accelerometer BACK accY; value = round(original_value), unit = milli g

Column: 19 Accelerometer BACK accZ; value = round(original_value), unit = milli g

Column: 20 Accelerometer RKN_ accX; value = round(original_value), unit = milli g

Column: 21 Accelerometer RKN_ accY; value = round(original_value), unit = milli g

Column: 22 Accelerometer RKN_ accZ; value = round(original_value), unit = milli g

Column: 23 Accelerometer RWR accX; value = round(original_value), unit = milli g

Column: 24 Accelerometer RWR accY; value = round(original_value), unit = milli g

Column: 25 Accelerometer RWR accZ; value = round(original_value), unit = milli g

Column: 26 Accelerometer RUA^ accX; value = round(original_value), unit = milli g

Column: 27 Accelerometer RUA^ accY; value = round(original_value), unit = milli g

Column: 28 Accelerometer RUA^ accZ; value = round(original_value), unit = milli g

Column: 29 Accelerometer LUA_ accX; value = round(original_value), unit = milli g

Column: 30 Accelerometer LUA_ accY; value = round(original_value), unit = milli g

Column: 31 Accelerometer LUA_ accZ; value = round(original_value), unit = milli g

Column: 32 Accelerometer LWR accX; value = round(original_value), unit = milli g

Column: 33 Accelerometer LWR accY; value = round(original_value), unit = milli g

Column: 34 Accelerometer LWR accZ; value = round(original_value), unit = milli g

Column: 35 Accelerometer RH accX; value = round(original_value), unit = milli g

Column: 36 Accelerometer RH accY; value = round(original_value), unit = milli g

Column: 37 Accelerometer RH accZ; value = round(original_value), unit = milli g

Column: 38 InertialMeasurementUnit BACK accX; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 39 InertialMeasurementUnit BACK accY; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 40 InertialMeasurementUnit BACK accZ; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 41 InertialMeasurementUnit BACK gyroX; value = round(original_value * 1000), unit = unknown

Column: 42 InertialMeasurementUnit BACK gyroY; value = round(original_value * 1000), unit = unknown

Column: 43 InertialMeasurementUnit BACK gyroZ; value = round(original_value * 1000), unit = unknown

Column: 44 InertialMeasurementUnit BACK magneticX; value = round(original_value * 1000), unit = unknown

Column: 45 InertialMeasurementUnit BACK magneticY; value = round(original_value * 1000), unit = unknown

Column: 46 InertialMeasurementUnit BACK magneticZ; value = round(original_value * 1000), unit = unknown

Column: 47 InertialMeasurementUnit BACK Quaternion1; value = round(original_value * 1000), unit = none

Column: 48 InertialMeasurementUnit BACK Quaternion2; value = round(original_value * 1000), unit = none

Column: 49 InertialMeasurementUnit BACK Quaternion3; value = round(original_value * 1000), unit = none

Column: 50 InertialMeasurementUnit BACK Quaternion4; value = round(original_value * 1000), unit = none

Column: 51 InertialMeasurementUnit RUA accX; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 52 InertialMeasurementUnit RUA accY; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 53 InertialMeasurementUnit RUA accZ; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 54 InertialMeasurementUnit RUA gyroX; value = round(original_value * 1000), unit = unknown

Column: 55 InertialMeasurementUnit RUA gyroY; value = round(original_value * 1000), unit = unknown

Column: 56 InertialMeasurementUnit RUA gyroZ; value = round(original_value * 1000), unit = unknown

Column: 57 InertialMeasurementUnit RUA magneticX; value = round(original_value * 1000), unit = unknown

Column: 58 InertialMeasurementUnit RUA magneticY; value = round(original_value * 1000), unit = unknown

Column: 59 InertialMeasurementUnit RUA magneticZ; value = round(original_value * 1000), unit = unknown

Column: 60 InertialMeasurementUnit RUA Quaternion1; value = round(original_value * 1000), unit = none

Column: 61 InertialMeasurementUnit RUA Quaternion2; value = round(original_value * 1000), unit = none

Column: 62 InertialMeasurementUnit RUA Quaternion3; value = round(original_value * 1000), unit = none

Column: 63 InertialMeasurementUnit RUA Quaternion4; value = round(original_value * 1000), unit = none

Column: 64 InertialMeasurementUnit RLA accX; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 65 InertialMeasurementUnit RLA accY; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 66 InertialMeasurementUnit RLA accZ; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 67 InertialMeasurementUnit RLA gyroX; value = round(original_value * 1000), unit = unknown

Column: 68 InertialMeasurementUnit RLA gyroY; value = round(original_value * 1000), unit = unknown

Column: 69 InertialMeasurementUnit RLA gyroZ; value = round(original_value * 1000), unit = unknown

Column: 70 InertialMeasurementUnit RLA magneticX; value = round(original_value * 1000), unit = unknown

Column: 71 InertialMeasurementUnit RLA magneticY; value = round(original_value * 1000), unit = unknown

Column: 72 InertialMeasurementUnit RLA magneticZ; value = round(original_value * 1000), unit = unknown

Column: 73 InertialMeasurementUnit RLA Quaternion1; value = round(original_value * 1000), unit = none

Column: 74 InertialMeasurementUnit RLA Quaternion2; value = round(original_value * 1000), unit = none

Column: 75 InertialMeasurementUnit RLA Quaternion3; value = round(original_value * 1000), unit = none

Column: 76 InertialMeasurementUnit RLA Quaternion4; value = round(original_value * 1000), unit = none

Column: 77 InertialMeasurementUnit LUA accX; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 78 InertialMeasurementUnit LUA accY; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 79 InertialMeasurementUnit LUA accZ; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 80 InertialMeasurementUnit LUA gyroX; value = round(original_value * 1000), unit = unknown

Column: 81 InertialMeasurementUnit LUA gyroY; value = round(original_value * 1000), unit = unknown

Column: 82 InertialMeasurementUnit LUA gyroZ; value = round(original_value * 1000), unit = unknown

Column: 83 InertialMeasurementUnit LUA magneticX; value = round(original_value * 1000), unit = unknown

Column: 84 InertialMeasurementUnit LUA magneticY; value = round(original_value * 1000), unit = unknown

Column: 85 InertialMeasurementUnit LUA magneticZ; value = round(original_value * 1000), unit = unknown

Column: 86 InertialMeasurementUnit LUA Quaternion1; value = round(original_value * 1000), unit = none

Column: 87 InertialMeasurementUnit LUA Quaternion2; value = round(original_value * 1000), unit = none

Column: 88 InertialMeasurementUnit LUA Quaternion3; value = round(original_value * 1000), unit = none

Column: 89 InertialMeasurementUnit LUA Quaternion4; value = round(original_value * 1000), unit = none

Column: 90 InertialMeasurementUnit LLA accX; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 91 InertialMeasurementUnit LLA accY; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 92 InertialMeasurementUnit LLA accZ; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 93 InertialMeasurementUnit LLA gyroX; value = round(original_value * 1000), unit = unknown

Column: 94 InertialMeasurementUnit LLA gyroY; value = round(original_value * 1000), unit = unknown

Column: 95 InertialMeasurementUnit LLA gyroZ; value = round(original_value * 1000), unit = unknown

Column: 96 InertialMeasurementUnit LLA magneticX; value = round(original_value * 1000), unit = unknown

Column: 97 InertialMeasurementUnit LLA magneticY; value = round(original_value * 1000), unit = unknown

Column: 98 InertialMeasurementUnit LLA magneticZ; value = round(original_value * 1000), unit = unknown

Column: 99 InertialMeasurementUnit LLA Quaternion1; value = round(original_value * 1000), unit = none

Column: 100 InertialMeasurementUnit LLA Quaternion2; value = round(original_value * 1000), unit = none

Column: 101 InertialMeasurementUnit LLA Quaternion3; value = round(original_value * 1000), unit = none

Column: 102 InertialMeasurementUnit LLA Quaternion4; value = round(original_value * 1000), unit = none

Column: 103 InertialMeasurementUnit L-SHOE EuX; value = round(original_value), unit = degrees

Column: 104 InertialMeasurementUnit L-SHOE EuY; value = round(original_value), unit = degrees

Column: 105 InertialMeasurementUnit L-SHOE EuZ; value = round(original_value), unit = degrees

Column: 106 InertialMeasurementUnit L-SHOE Nav_Ax; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 107 InertialMeasurementUnit L-SHOE Nav_Ay; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 108 InertialMeasurementUnit L-SHOE Nav_Az; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 109 InertialMeasurementUnit L-SHOE Body_Ax; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 110 InertialMeasurementUnit L-SHOE Body_Ay; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 111 InertialMeasurementUnit L-SHOE Body_Az; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 112 InertialMeasurementUnit L-SHOE AngVelBodyFrameX; value = round(original_value * 1000), unit = mm/s

Column: 113 InertialMeasurementUnit L-SHOE AngVelBodyFrameY; value = round(original_value * 1000), unit = mm/s

Column: 114 InertialMeasurementUnit L-SHOE AngVelBodyFrameZ; value = round(original_value * 1000), unit = mm/s

Column: 115 InertialMeasurementUnit L-SHOE AngVelNavFrameX; value = round(original_value * 1000), unit = mm/s

Column: 116 InertialMeasurementUnit L-SHOE AngVelNavFrameY; value = round(original_value * 1000), unit = mm/s

Column: 117 InertialMeasurementUnit L-SHOE AngVelNavFrameZ; value = round(original_value * 1000), unit = mm/s

Column: 118 InertialMeasurementUnit L-SHOE Compass; value = round(original_value), unit = degrees

Column: 119 InertialMeasurementUnit R-SHOE EuX; value = round(original_value), unit = degrees

Column: 120 InertialMeasurementUnit R-SHOE EuY; value = round(original_value), unit = degrees

Column: 121 InertialMeasurementUnit R-SHOE EuZ; value = round(original_value), unit = degrees

Column: 122 InertialMeasurementUnit R-SHOE Nav_Ax; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 123 InertialMeasurementUnit R-SHOE Nav_Ay; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 124 InertialMeasurementUnit R-SHOE Nav_Az; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 125 InertialMeasurementUnit R-SHOE Body_Ax; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 126 InertialMeasurementUnit R-SHOE Body_Ay; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 127 InertialMeasurementUnit R-SHOE Body_Az; value = round(original_value / 9.8 * 1000), unit = milli g

Column: 128 InertialMeasurementUnit R-SHOE AngVelBodyFrameX; value = round(original_value * 1000), unit = mm/s

Column: 129 InertialMeasurementUnit R-SHOE AngVelBodyFrameY; value = round(original_value * 1000), unit = mm/s

Column: 130 InertialMeasurementUnit R-SHOE AngVelBodyFrameZ; value = round(original_value * 1000), unit = mm/s

Column: 131 InertialMeasurementUnit R-SHOE AngVelNavFrameX; value = round(original_value * 1000), unit = mm/s

Column: 132 InertialMeasurementUnit R-SHOE AngVelNavFrameY; value = round(original_value * 1000), unit = mm/s

Column: 133 InertialMeasurementUnit R-SHOE AngVelNavFrameZ; value = round(original_value * 1000), unit = mm/s

Column: 134 InertialMeasurementUnit R-SHOE Compass; value = round(original_value), unit = degrees

Column: 135 Accelerometer CUP accX; value = round(original_value), unit = milli g

Column: 136 Accelerometer CUP accX; value = round(original_value), unit = milli g

Column: 137 Accelerometer CUP accX; value = round(original_value), unit = milli g

Column: 138 Accelerometer CUP gyroX; value = round(original_value), unit = unknown

Column: 139 Accelerometer CUP gyroY; value = round(original_value), unit = unknown

Column: 140 Accelerometer SALAMI accX; value = round(original_value), unit = milli g

Column: 141 Accelerometer SALAMI accX; value = round(original_value), unit = milli g

Column: 142 Accelerometer SALAMI accX; value = round(original_value), unit = milli g

Column: 143 Accelerometer SALAMI gyroX; value = round(original_value), unit = unknown

Column: 144 Accelerometer SALAMI gyroY; value = round(original_value), unit = unknown

Column: 145 Accelerometer WATER accX; value = round(original_value), unit = milli g

Column: 146 Accelerometer WATER accX; value = round(original_value), unit = milli g

Column: 147 Accelerometer WATER accX; value = round(original_value), unit = milli g

Column: 148 Accelerometer WATER gyroX; value = round(original_value), unit = unknown

Column: 149 Accelerometer WATER gyroY; value = round(original_value), unit = unknown

Column: 150 Accelerometer CHEESE accX; value = round(original_value), unit = milli g

Column: 151 Accelerometer CHEESE accX; value = round(original_value), unit = milli g

Column: 152 Accelerometer CHEESE accX; value = round(original_value), unit = milli g

Column: 153 Accelerometer CHEESE gyroX; value = round(original_value), unit = unknown

Column: 154 Accelerometer CHEESE gyroY; value = round(original_value), unit = unknown

Column: 155 Accelerometer BREAD accX; value = round(original_value), unit = milli g

Column: 156 Accelerometer BREAD accX; value = round(original_value), unit = milli g

Column: 157 Accelerometer BREAD accX; value = round(original_value), unit = milli g

Column: 158 Accelerometer BREAD gyroX; value = round(original_value), unit = unknown

Column: 159 Accelerometer BREAD gyroY; value = round(original_value), unit = unknown

Column: 160 Accelerometer KNIFE1 accX; value = round(original_value), unit = milli g

Column: 161 Accelerometer KNIFE1 accX; value = round(original_value), unit = milli g

Column: 162 Accelerometer KNIFE1 accX; value = round(original_value), unit = milli g

Column: 163 Accelerometer KNIFE1 gyroX; value = round(original_value), unit = unknown

Column: 164 Accelerometer KNIFE1 gyroY; value = round(original_value), unit = unknown

Column: 165 Accelerometer MILK accX; value = round(original_value), unit = milli g

Column: 166 Accelerometer MILK accX; value = round(original_value), unit = milli g

Column: 167 Accelerometer MILK accX; value = round(original_value), unit = milli g

Column: 168 Accelerometer MILK gyroX; value = round(original_value), unit = unknown

Column: 169 Accelerometer MILK gyroY; value = round(original_value), unit = unknown

Column: 170 Accelerometer SPOON accX; value = round(original_value), unit = milli g

Column: 171 Accelerometer SPOON accX; value = round(original_value), unit = milli g

Column: 172 Accelerometer SPOON accX; value = round(original_value), unit = milli g

Column: 173 Accelerometer SPOON gyroX; value = round(original_value), unit = unknown

Column: 174 Accelerometer SPOON gyroY; value = round(original_value), unit = unknown

Column: 175 Accelerometer SUGAR accX; value = round(original_value), unit = milli g

Column: 176 Accelerometer SUGAR accX; value = round(original_value), unit = milli g

Column: 177 Accelerometer SUGAR accX; value = round(original_value), unit = milli g

Column: 178 Accelerometer SUGAR gyroX; value = round(original_value), unit = unknown

Column: 179 Accelerometer SUGAR gyroY; value = round(original_value), unit = unknown

Column: 180 Accelerometer KNIFE2 accX; value = round(original_value), unit = milli g

Column: 181 Accelerometer KNIFE2 accX; value = round(original_value), unit = milli g

Column: 182 Accelerometer KNIFE2 accX; value = round(original_value), unit = milli g

Column: 183 Accelerometer KNIFE2 gyroX; value = round(original_value), unit = unknown

Column: 184 Accelerometer KNIFE2 gyroY; value = round(original_value), unit = unknown

Column: 185 Accelerometer PLATE accX; value = round(original_value), unit = milli g

Column: 186 Accelerometer PLATE accX; value = round(original_value), unit = milli g

Column: 187 Accelerometer PLATE accX; value = round(original_value), unit = milli g

Column: 188 Accelerometer PLATE gyroX; value = round(original_value), unit = unknown

Column: 189 Accelerometer PLATE gyroY; value = round(original_value), unit = unknown

Column: 190 Accelerometer GLASS accX; value = round(original_value), unit = milli g

Column: 191 Accelerometer GLASS accX; value = round(original_value), unit = milli g

Column: 192 Accelerometer GLASS accX; value = round(original_value), unit = milli g

Column: 193 Accelerometer GLASS gyroX; value = round(original_value), unit = unknown

Column: 194 Accelerometer GLASS gyroY; value = round(original_value), unit = unknown

Column: 195 REED SWITCH DISHWASHER S1; value = original_value, unit = logical (0/1)

Column: 196 REED SWITCH FRIDGE S3; value = original_value, unit = logical (0/1)

Column: 197 REED SWITCH FRIDGE S2; value = original_value, unit = logical (0/1)

Column: 198 REED SWITCH FRIDGE S1; value = original_value, unit = logical (0/1)

Column: 199 REED SWITCH MIDDLEDRAWER S1; value = original_value, unit = logical (0/1)

Column: 200 REED SWITCH MIDDLEDRAWER S2; value = original_value, unit = logical (0/1)

Column: 201 REED SWITCH MIDDLEDRAWER S3; value = original_value, unit = logical (0/1)

Column: 202 REED SWITCH LOWERDRAWER S3; value = original_value, unit = logical (0/1)

Column: 203 REED SWITCH LOWERDRAWER S2; value = original_value, unit = logical (0/1)

Column: 204 REED SWITCH UPPERDRAWER; value = original_value, unit = logical (0/1)

Column: 205 REED SWITCH DISHWASHER S3; value = original_value, unit = logical (0/1)

Column: 206 REED SWITCH LOWERDRAWER S1; value = original_value, unit = logical (0/1)

Column: 207 REED SWITCH DISHWASHER S2; value = original_value, unit = logical (0/1)

Column: 208 Accelerometer DOOR1 accX; value = round(original_value), unit = milli g

Column: 209 Accelerometer DOOR1 accY; value = round(original_value), unit = milli g

Column: 210 Accelerometer DOOR1 accZ; value = round(original_value), unit = milli g

Column: 211 Accelerometer LAZYCHAIR accX; value = round(original_value), unit = milli g

Column: 212 Accelerometer LAZYCHAIR accY; value = round(original_value), unit = milli g

Column: 213 Accelerometer LAZYCHAIR accZ; value = round(original_value), unit = milli g

Column: 214 Accelerometer DOOR2 accX; value = round(original_value), unit = milli g


In [0]:
adl_filename_mask = 'S{}-ADL{}.dat'
drill_filename_mask = 'S{}-Drill.dat'
df_opportunity_adl = pd.DataFrame()
df_opportunity_drill = pd.DataFrame()

for user_idx in range(1,6):
  
  partial_adl_df = pd.read_csv('drive/My Drive/University/Data Science/Machine Learning/datasets/opportunity/'+adl_filename_mask.format(), header=None, sep='\s') 
  

df_adl = pd.read_csv('drive/My Drive/University/Data Science/Machine Learning/datasets/opportunity/S1-ADL1.dat', encoding='latin_1', header=None, sep='\s')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [0]:
df_adl.head(10)

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,0,87.0,975.0,-287.0,11.0,1001.0,163.0,95.0,975.0,152.0,...,5789.0,2907.0,1447.0,0,0,0,0,0,0,0
1,33,124.0,978.0,-389.0,-7.0,1014.0,199.0,124.0,968.0,123.0,...,5789.0,2908.0,1443.0,0,0,0,0,0,0,0
2,67,102.0,996.0,-440.0,-49.0,1024.0,193.0,127.0,1001.0,113.0,...,5789.0,2910.0,1440.0,0,0,0,0,0,0,0
3,100,59.0,861.0,-384.0,-9.0,1023.0,202.0,110.0,1007.0,106.0,...,5789.0,2912.0,1440.0,0,0,0,0,0,0,0
4,133,119.0,946.0,-426.0,-22.0,1026.0,188.0,98.0,1001.0,92.0,...,5791.0,2915.0,1442.0,0,0,0,0,0,0,0
5,167,99.0,972.0,-365.0,-3.0,1027.0,162.0,72.0,994.0,136.0,...,5790.0,2917.0,1445.0,0,0,0,0,0,0,0
6,200,116.0,960.0,-344.0,30.0,978.0,175.0,41.0,994.0,123.0,...,5786.0,2917.0,1450.0,0,0,0,0,0,0,0
7,233,171.0,945.0,-330.0,-4.0,995.0,201.0,55.0,975.0,123.0,...,5783.0,2919.0,1456.0,0,0,0,0,0,0,0
8,267,145.0,971.0,-355.0,-11.0,1031.0,222.0,65.0,1009.0,123.0,...,5781.0,2921.0,1464.0,0,0,0,0,0,0,0
9,300,106.0,950.0,-356.0,12.0,1027.0,172.0,62.0,1092.0,87.0,...,5779.0,2925.0,1473.0,0,0,0,0,0,0,0